@font-face {
  font-family: MyFont;
  src: url(/PWA-EX-1/fonts/Montserrat-VariableFont_wght.ttf);
  font-weight: lighter;
}

body {
  font-family: MyFont;
}

/* Make content area fill the entire browser window */
html,
.fullscreen {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Center the content in the browser window */
.container {
  margin: auto;
  text-align: center;
}

.title {
  font-size: 3rem;
}

.background_img {
    height: 800px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
  background-image: url(https://d7hftxdivxxvm.cloudfront.net/?height=767&quality=80&resize_to=fit&src=https%3A%2F%2Fartsy-media-uploads.s3.amazonaws.com%2FAZYyr3SuP-kTixCzEL25ng%252FVoYq0hwMv85rzTP2.jpeg&width=767);
}
